#aboutme {
	background-image: url(images/cat.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
     background-size: 100% 100%; 
}



	.clickme-button:hover{
		background-color: cyan;
	}