
.w3-row:after,.w3-row-padding:after
{content:"";display:table;clear:both; background-color: #ecf0f5;}

.menu-position {
	position:fixed;
	width:100%;
	z-index:1
				}


.img-me{
	border-radius:50%;
	width: 70%;
}

.input-style{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #808080;
	width:100%
}

	.input-border {
		border:1px solid #ccc
	}

.img-fullsize{
	z-index:3;
	display:none;padding-top:100px;
	position:fixed;left:0;
	top:0;width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4)
	color:#fff;
	background-color:#000;}

.navbar{
	list-style-type: none;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

	.navbar li{
		float: left;
	}
		.navbar li a{
			display: block;
			padding: 8px 16px;
		}
			.navbar li a:hover{
				color: #000;
				background-color: #ccc;
			}
				.navbar a{
					text-decoration: none;
				}

a { color: #990003 
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

.send-btn{
	border:none;
	display:inline-block;
	outline:0;padding:6px 16px;
	vertical-align:middle;overflow:hidden;
	text-decoration:none!important;
	color:#fff;background-color:#000;	
	text-align:center;
	cursor:pointer;
	white-space:nowrap}

		.send-btn:hover{
					box-shadow:0 8px 16px 0 
					rgba(0,0,0,0.2),0 6px 20px 0 
					rgba(0,0,0,0.19)}

.margin{
		margin-top:16px;
		margin-bottom:16px; 
	}

.close-btn:hover{
	color:#fff; 
	background-color:#f44336
}

.pitcure-position{
	position:relative
}

.picture-header{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}

.content{
	max-width:980px;
	margin:auto;
}

.rubrik{
	font-size:36px;
	letter-spacing:4px;
}

.padding{
		padding-top:64px;
		padding-bottom:64px;}

.heading{
		text-align:center;
	}

.btn-style{
		position:absolute;
		right:0;
		top:0;
	}



/* gör så all text i 2 stycket syns om skärmen är tillräcklig stor */
@media only screen and (min-width:601px){
.w3-col.m4{width:33.33333%}
.w3-col.m6,.w3-half{width:49.99999%}
.w3-col.m8,{width:66.66666%}}

.w3-col,.w3-half{float:left;width:100%}
.w3-col.m3{width:24.99999%}
	




