/* ========================================
   Mobile screen
   ======================================== */

/* mobile 320px*480px*/
@media only screen and (max-width: 760px){
.index-body{
  display: none;
}


#arrow-down-m{
    display: block;
    text-align: center;
    width: 20%;
    margin: 50% auto 0 auto;
}

.only-on-mobile {
    background-image: url(images/mobile-bg.jpg);
    background-size: 100% 100%;
    display: block;
    text-align: center;
    color: #00F9FF;
    font-size: 12px;
    height: 100vh;
}

.mobile-head{
    padding-top: 12%;
    font-weight: normal;
    font-size: 50px;
    font-family: headline;
}

#aboutme-mobile{
    height: 100vh;
    background-color: black;
    color: #00F9FF;
    text-align: center;
    display: block;
}

  #aboutme-mobile p{
      padding: 1%;
  }

   #aboutme-mobile #more-m {
    float: right;
   } 

      #aboutme-mobile img{
        width: 50%;
        height: 30%;
        border-radius: 100%;
        
      }
        #aboutme-mobile .new-pic{
          text-decoration: none;
          font-size: 
        }







}



