button {
	cursor: pointer;
}

.portfolio-body{
	background-image: url('http://il2.picdn.net/shutterstock/videos/7105267/thumb/1.jpg');
	background-repeat: no-repeat;
    background-position: center;
     background-size: 100% 100%; 
     height: 100vh;
}

.box-style{
	height: 80%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	.box-style img{
		padding: 0;
		margin: 0;
		height: 100%;
		width: 50%;
		display: inline-block;
	}

.p-info{
	margin: 0; padding: 0; 
	width: 45%; 
	display: inline-block; 
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
}

.right-img{
	
	width: 50%; right: 0;
}

.left-img{
	width: 50%;
}

	#portfolio-loggo{
		font-size: 50px;
		margin: 0;
		color: #0dbbe2;
		padding-bottom: 5%;
	}

	.portfolio-text{
		width: 70%;
		padding-bottom: 10%;

	}

	.portfolio-title {

	}

	.portfolio-btn{
		display: block;
		width: 20%;
		background-color: transparent;
	    border: 2px solid #0dbbe2;
	    font-size: 18px;
	    color: black;
	    padding: 2%;
	    text-decoration: none;
	    margin-left: 38%;

	}

	@media only screen and (max-width: 760px){
		.portfolio-btn {
			margin-left: 0;
			width: 100%;
		}
	}

		.portfolio-btn:hover{
			background-color: #0dbbe2;
		}

	.cards{
		margin: 2%;
		width: 100px;
		height: 100px;
		background-color: #ff80bf;
		border: none;
		font-size: 25px;
		transition: 0.5s;
		box-shadow: 2px 2px 2px #800040;
		color: #ff80bf;
		
	}

	.cards:hover {
		box-shadow: 8px 8px 3px #800040;
		padding: 6%;
		border: none;
	}

	.cards:focus {
		outline:0;
		border: 2px solid;
		box-shadow: none;
	}

	main{
		
	width: 50%; right: 0;
	display: inline-block;

	}

	.klar {
		background-color: grey;
	}

	.klar:hover{
		box-shadow: none;
	}