button {
	cursor: pointer;
}

.portfolio-body{
	background-image: url('http://il2.picdn.net/shutterstock/videos/7105267/thumb/1.jpg');
	background-repeat: no-repeat;
    background-position: center;
     background-size: 100% 100%; 
     height: 100vh;
}

.box-style{
	height: 80%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	.box-style img{
		padding: 0;
		margin: 0;
		height: 100%;
		width: 50%;
		display: inline-block;
	}

.p-info{
	margin: 0; padding: 0; 
	width: 45%; 
	display: inline-block; 
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
}

.right-img{
	
	width: 50%; right: 0;
}

.left-img{
	width: 50%;
}

	#portfolio-loggo{
		font-size: 50px;
		margin: 0;
		color: #0dbbe2;
		padding-bottom: 5%;
	}

	.portfolio-text{
		width: 70%;
		padding-bottom: 10%;

	}

	.portfolio-title {
		text-align: center;
		display: block;
		font-weight: bold;
		font-size: 20px;

	}

	.portfolio-btn{
		display: block;
		width: 20%;
		background-color: transparent;
	    border: 2px solid #0dbbe2;
	    font-size: 18px;
	    color: black;
	    padding: 2%;
	    text-decoration: none;
	    margin-left: 38%;

	}

	@media only screen and (max-width: 760px){
		.portfolio-btn {
			margin-left: 0;
			width: 100%;
		}
	}

		.portfolio-btn:hover{
			background-color: #0dbbe2;
		}

	.cards{
		background-size: 0 0;
		margin: 2%;
		width: 100px;
		height: 100px;
		background-color: #ff80bf;
		z-index: 99999;
		border: none;
		font-size: 25px;

		transition: 
		box-shadow 0.5s;

		box-shadow: 2px 2px 2px #800040;
		color: #ff80bf;
		
	}

	.cards:hover {
		box-shadow: 8px 8px 3px #800040;
		border: none;
	}

	.cards:focus {
		outline:0;
		border: 2px solid;
		box-shadow: none;
	}

	main{
	width: 50%; right: 0;
	display: inline-block;
	text-align: center;
	margin: auto;
}

	.klar {
		background-color: grey;
		border: 1px solid black;
		background-size: 100% 100%;
	}

	.klar:hover{
		box-shadow: none;
	}

		canvas{
			border: 2px solid black;
			display: none;
			padding: 0;
			width: 50%;
		}


			.screen h1{color: cyan; padding: 4%; }

		.screen button{
			background-color: black;
			color: cyan;
			border: none;
			font-size: 30px;
			padding: 4%;
		}

		button:hover{background-color: cyan; color: black;}

		.screen{
			background-color: black;
			width: 50%;
			text-align: center;
			display: inline-block;
			
		}

		#start-screen h1, button {
			padding: 2%;
			display: block;
			margin: auto;
			padding: 4%;
		}

		#game-over{
			display: none;
		}

		#game-over p{
			color: cyan;
			font-size: 50px;
		}

		#time {
			display: none;
/*			padding: 0;
			color: cyan;
			background-color: black;
			width: 50%;*/
			text-align: center;
		}
			#hours{display: inline-block; font-size: 20px;}
			#minutes{display: inline-block; font-size: 20px;}
			#seconds{display: inline-block; font-size: 20px;}