/* ========================================
            Main
======================================== */ 
html{margin: 0; padding: 0;}

@font-face {
  font-family: caveman;
  src: url(caveman.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(OpenSans.ttf);
}


body{
   width: 100%;
  padding: 0;
  margin: 0;
  font-family: OpenSans;
  color: rgb(83, 82, 82);
}


/* ========================================
            Head
======================================== */ 

.block{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(https://images.alphacoders.com/106/106571.jpg);
}

.block:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    left: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}

.introduction p {
    text-align: center;
    font-size: 22px;
    width: 50%;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: auto;
    font-style: oblique;
    display: block;
}

#portfolio-loggo {
    color: #0dbbe2;
    text-shadow: 4px 4px 2px rgb(16, 19, 94);
    text-align: center;
    font-size: 8em;
    font-family: caveman;
    margin: 0;
}

.introduction{
  padding-top: 15%;
}


/* ========================================
            Button styles
======================================== */ 

.btn-style{
   background-color: transparent;
    border: 2px solid #0dbbe2;
    font-size: 18px;
    display: inline-block;
    margin-top: 3%;
    padding: 1%;
    margin-left: 5%;

}
  .btn-style:hover {
        background-color: #0dbbe2;
    }

.btnp-style {
    margin: 5%;
    padding: 2%;
    background-color: transparent;
    border: 2px solid #0dbbe2;
    font-size: 18px;
    font-family: caveman;
    color: white;
    text-shadow: 2px 2px 2px black;
    

}

    .btnp-style:hover {
        background-color: #0dbbe2;
    }




/* ========================================
            Project
======================================== */ 


.project-info {
  display: block;
  height: 100vh;

}

.project-info h1{
  text-align: center;
  font-size: 42px;
  margin: 8% 0 0 0;
  padding: 0;
  
}

.project-info div.content {
  display: none;
  overflow: auto;
  text-align: center;
}

      .about p{
    width: 50%;
    margin: 0;
    padding: 10px;
  }

.about-menu {
  text-align: center;
  margin: 0;
  padding: 0;
}
  .about-menu li{
    display: inline;

  }

  .about-menu li button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 22px;
    display: inline-block;
  }

    .about-menu li button:hover{
      color: blue;
      text-decoration: underline;
    }

  
    
.icon {
  margin: 12px;
}

.icon:hover {
  box-shadow: 4px 4px 2px rgb(16, 19, 94);
  width: 40px;
}




.head-img{
  width: 20%;
  height: 300px;
  text-align: center;
  margin: 2%;
}

/* ========================================
            Skillbar
======================================== */ 

#skillbars {
  margin:0 auto;
  padding:0px;
  text-align:center;
  width:995px;
  margin-top: 5%;

  margin-left: 25%;
}

  #skillbars h1 {
    margin-top:100px;
    font-size:55px;
    color:#2E64FE;
  }

    #skillbars h1 a {
      color:#2E64FE;
      font-size:18px;
    }

.skill_name {
  margin-left:250px;
  width:50px;
  height:40px;
  line-height:40px;
  font-weight:bold;
  font-size:13px;
  color:white;
  clear:both;
  float:left;
  border-radius:3px 0px 0px 3px;
}

  #skill_php {
    background-color:#088A85;
  }

      #skill_asp {
        background-color:#5858FA;
      }
        #skill_jsp {
          background-color:#04B404;
        }

          #skill_html {
            background-color: pink;
          }

            #skill_css {
            background-color: blue;
            }


.skillbar_wrapper {
  float:left;
  position:relative;
  display:block;
  margin-bottom:15px;
  width:400px;
  background-color:#E6E6E6;
  height:40px;
  border-radius:0px 3px 3px 0px;
}

.skillbar_bar {
  height:40px;
  width:0px;
  border-radius:0px 3px 3px 0px;
}

#skillbar_php {
  background-color:#01DFD7;
}
  #skillbar_asp {
    background-color:#8181F7;
  }

    #skillbar_jsp {
      background-color:#01DF01;
    }

      #skillbar_html {
        background-color: purple;
      }

        #skillbar_css {
        background-color: purple;
        }

.skill_bar_percent  {
  position:absolute;
  right:10px;
  top:0;
  font-size:12px;
  height:35px;
  line-height:35px;
  color:black;
}



/* ========================================
            experience
======================================== */ 

.experience {
  width: 100%;
}

    .experience img, p{
      display: inline-block;
      vertical-align: top;
      margin-top: 3%;
    }



.b_bottom {
  border-bottom: 1px solid grey;
   width: 50%; 
   margin-left: 10%;
  padding-bottom: 1%: 
}

.evidensia img{
  width: 20%;
  padding-bottom: 2%;
}

.evidensia p{
  padding-left: 8%;
}

.experience a {
  text-decoration: none;
  color: black;
}





/* ========================================
            Contact
======================================== */ 


.section_contact{
    height: 110px;
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #bee8f2 0%, rgb(145, 222, 219) 100%)
}

  .section_contact:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: inherit;
      z-index: 1;
      bottom: 0;
      transform-origin: left top;
      transform: skewY(-3deg);
      left: 0;
  }

.contact {
  height: 600px;
  background: linear-gradient(to right, #bee8f2 0%, rgb(145, 222, 219) 100%);
}

.contact h1{
  text-align: center;
  margin: 0;
}

.contact-div{
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}

    input[type=text], input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
     }

        input[type=text]:focus {
            background-color: lightblue;
            border: 1px solid #234b62;
        }

            input[type=email]:focus {
                background-color: lightblue;
                border: 1px solid #234b62;
            }

                input[type=submit] {
                    display: block;
                    margin: 0 auto 20px auto;
                }




/* ========================================
            Mobile
======================================== */ 

@media only screen and (max-width: 760px) {

#portfolio-loggo {
  font-size: 20vw;
  text-align: center;
}


.introduction p {
  font-size: 40px;
  text-shadow: none;
}

.btnp-style {
text-align: center;
}

.introduction p{
    font-size: 14px;
    text-align: center;
    width: 90%;
}

.block{
  background: black;
}

iframe{
  width: 150px;
}

.about-menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}





}

